* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #727273;
  background: url("../img/fondoBody2.jpg") no-repeat;
  background-size: cover;
  /* Opcional:  Ajustes adicionales para el texto si es necesario */
  /* color: white;  */
  /* font-size: 16px; */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
  background: #2a4641;
}

.logo {
  color: #727273;
  font-size: 22px;
}

.logo img {
  width: 75px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #8291a5;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 30px;
  border-radius: 7px;
  transition: all 0.3s ease;
}

ul li a:hover,
ul li a.active {
  color: #fff;
  background: #a0c9b7;
}

#icon {
  background-color: #a0c9b7;
  padding: 5px 7px 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#icon svg {
  color: #fff;
  height: 28px;
  transition: all 0.3s ease;
}

#icon:hover {
  background: #fff;
}

#icon:hover svg {
  color: #a0c9b7;
}

#checkbox,
#icon {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 175px);
  margin: 10px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 10px; /* Espacio entre los campos */
}

label {
  display: block;
  margin-bottom: 5px; /* Espacio entre etiqueta y campo */
}
input[type="text"],
input[type="email"],
textarea {
  position: relative;
  width: 500px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(114, 114, 115, 1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #727273;
  border-radius: 20px;
  padding: 30px 40px;
}

button {
  width: 30%;
  background-color: #2a4641; /* Color de fondo del botón */
  color: #727273; /* Color del texto del botón */
  padding: 10px 20px; /* Espacio interno del botón */
  border: 2px solid rgba(114, 114, 115, 1); /* borde del botón */
  border-radius: 20px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambiar cursor al pasar el ratón */
}
button:hover {
  background-color: #a0c9b7; /* Color de fondo al pasar el ratón */
}

footer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px;
  padding: 10px;
  color: #727273;
}

footer a {
  text-decoration: none;
  color: #8291a5;
  padding: 8px 30px;
  border-radius: 7px;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
  background: #a0c9b7;
}

.whatsapp-button {
  font-size: 15px;
  color: #128c39;
  bottom: 15px;
  right: 15px;
  padding: 15px;
  position: fixed;
  text-decoration: none;
  transition: ease 1s;
  z-index: 1000;
}

.whatsapp-button .whatsapp-chat-text {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.whatsapp-button .fa-whatsapp {
  color: #0df053;
  font-size: 75px;
  border-radius: 50%;
  animation: efecto 1.2s infinite;
}

.whatsapp-button .fa-whatsapp:hover {
  background-color: #0df053;
  color: white;
  border-radius: 50%;
  transition: ease 0.5s;
  transform: scale(1.1);
  right: 25px;
  padding: 10px;
  z-index: 999;
  animation: efecto 1.2s infinite;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 0, 0, 1.5);
  }
  100% {
    box-shadow: 0 0 0 15px rgb(0, 0, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  nav {
    border-bottom: 1px solid #727273;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 71px);
    background-color: #2a4641;
    left: 0;
    top: 0;
    text-align: center;
    display: none;
    margin-top: 91px;
  }

  ul li {
    display: block;
    padding: 10px 15px;
  }

  ul li a {
    display: block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 2em;
  }

  #icon {
    display: block;
  }

  #checkbox:checked ~ ul {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: #2a4641;
  }

  .logo {
    color: #fff;
    font-size: 22px;
  }

  .logo img {
    width: 75px;
  }

  ul {
    list-style: none;
  }

  ul li {
    display: inline-block;
  }

  ul li a {
    text-decoration: none;
    color: #8291a5;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all 0.3s ease;
  }

  ul li a:hover,
  ul li a.active {
    color: #fff;
    background: #a0c9b7;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px;
    padding: 10px;
    color: #727273;
  }

  footer a {
    text-decoration: none;
    color: #8291a5;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    color: #fff;
    background: #a0c9b7;
  }

  .whatsapp-button {
    font-size: 15px;
    color: #128c39;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    position: fixed;
    text-decoration: none;
    transition: ease 1s;
    z-index: 1000;
  }

  .whatsapp-button .whatsapp-chat-text {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .whatsapp-button .fa-whatsapp {
    color: #0df053;
    font-size: 75px;
    border-radius: 50%;
    animation: efecto 1.2s infinite;
  }

  .whatsapp-button .fa-whatsapp:hover {
    background-color: #0df053;
    color: white;
    border-radius: 50%;
    transition: ease 0.5s;
    transform: scale(1.1);
    right: 25px;
    padding: 10px;
    z-index: 999;
    animation: efecto 1.2s infinite;
  }

  @keyframes efecto {
    0% {
      box-shadow: 0 0 0 0 rgb(0, 0, 0, 1.5);
    }
    100% {
      box-shadow: 0 0 0 15px rgb(0, 0, 0, 0);
    }
  }
}
